<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<table id="data-table">-->
<!--    <thead></thead>-->
<!--    <tbody></tbody>-->
<!--</table>-->

<!--<script>-->
<!--    function updateTable() {-->
<!--    fetch('/cpu/get-cpu-loads/') // URL, сопоставленный с вашим Django view-->
<!--      .then(response => response.json())-->
<!--      .then(data => {-->
<!--        const table = document.getElementById('data-table');-->
<!--        const tableHead = table.querySelector('thead');-->
<!--        const tableBody = table.querySelector('tbody');-->

<!--        // Очистка текущих заголовков и данных в таблице-->
<!--        tableHead.innerHTML = '';-->
<!--        tableBody.innerHTML = '';-->

<!--        // Создание и добавление новых заголовков таблицы-->
<!--        const headerRow = document.createElement('tr');-->
<!--        data.fields.forEach(fieldName => {-->
<!--          const headerCell = document.createElement('th');-->
<!--          headerCell.textContent = fieldName;-->
<!--          headerRow.appendChild(headerCell);-->
<!--        });-->
<!--        tableHead.appendChild(headerRow);-->

<!--        // Создание и добавление новых строк в таблицу-->
<!--        data.cpu_loads.forEach(rowData => {-->
<!--          const row = document.createElement('tr');-->
<!--          Object.values(rowData).forEach(cellData => {-->
<!--            const cell = document.createElement('td');-->
<!--            cell.textContent = cellData;-->
<!--            row.appendChild(cell);-->
<!--          });-->
<!--          tableBody.appendChild(row);-->
<!--        });-->
<!--      })-->
<!--      .catch(error => console.error('Error fetching data:', error));-->
<!--  }-->

<!--  document.addEventListener('DOMContentLoaded', () => {-->
<!--    updateTable(); // Обновление таблицы при загрузке страницы-->
<!--    setInterval(updateTable, 10000); // Автоматическое обновление каждые 10 секунд-->
<!--  });-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block title %}
CPU Loads
{% endblock %}

{% block content %}
<table id="data-table">
    <thead></thead>
    <tbody></tbody>
</table>
{% load static %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}

